<body class="row text-center min-set">
<div class="col-md-12">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<form class="form-horizontal" >
  <div class="control-group">
  <label class="control-group" for="inputFirstName">First Name</label>
    <div class="controls">
      <div class="field">
        <%= f.text_field :first_name %>

      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-group" for="inputLastName">Last Name</label>
    <div class="controls">
      <div class="field">
        <%= f.text_field :last_name %>

      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-group" for="inputEmail">Email</label>
    <div class="controls">
      <div class="field">
        <%= f.text_field :email %>

      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-group" for="inputPassword">Password</label>
    <div class="controls">
      <div class="field">
        <%= f.password_field :password %>

      </div>
    </div>
  </div>

  <div class="control-group">
    <label class="control-group" for="inputConfirmation">Confirm Password</label>
    <div class="controls">
      <div class="field">
        <%= f.password_field :password_confirmation %>

      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Register" %>
  </div>

<% end %>
</form>
</div>
