<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
  <!--<meta charset="utf-8" />-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />-->
  <!--<meta name="description" content="" />-->
  <!--<meta name="author" content="" />-->
  <!--&lt;!&ndash;[if IE]>-->
  <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
  <!--<![endif]&ndash;&gt;-->
  <!--<title>Clean Single Page Template</title>-->
  <!--&lt;!&ndash; BOOTSTRAP CORE STYLE  &ndash;&gt;-->
  <!--<link href="assets/css/bootstrap.css" rel="stylesheet" />-->
  <!--&lt;!&ndash; FONT AWESOME ICON STYLE  &ndash;&gt;-->
  <!--<link href="assets/css/font-awesome.css" rel="stylesheet" />-->
  <!--&lt;!&ndash; PRETTYPHOTO STYLE  &ndash;&gt;-->
  <!--<link href="assets/css/prettyPhoto.css" rel="stylesheet" />-->
  <!--&lt;!&ndash; CUSTOM STYLE CSS &ndash;&gt;-->
  <!--<link href="assets/css/style.css" rel="stylesheet" />-->
  <!--&lt;!&ndash; CUSTOM THEME COLOR &#45;&#45; YOU CAN USE LIGHT & DARK THEMES  &ndash;&gt;-->
  <!--<link href="assets/css/themes/dark.css" rel="stylesheet" />-->
  <!--&lt;!&ndash; GOOGLE FONT &ndash;&gt;-->
  <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />-->
<!--</head>-->
<!--<body>-->
<div id="">
  <div class="overlay">
    <div class="container">
      <div class="col-md-8 scrollclass">

        <h1>
          <strong>Welcome to <mark>SetList </mark> </strong>
        </h1>
        <p class="home-p">
          SetList is a new social media platform that focuses on connecting you with others
          who share similar musical interest. Our goal is to allow for you to interact with
          other users based on what concerts or shows you have or plan on attending. SetList
          also allows for concert venues to promote any concert or shows at their venue.
        </p>

        <a class="btn btn-primary btn-lg btn-home" href="#features-sec">Explore More &nbsp; <i class="fa fa-toggle-on"></i></a>
      </div>
    </div>
  </div>

</div>
<!--END HOME SECTION-->
<section id="features-sec">
  <div class="container">
    <div class="row text-center min-set">
      <div class="col-md-12">
        <h2><mark class="head-glow">Awesome </mark>Features </h2>
        <hr class="sub-hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="img-set">
            <%= image_tag("concert.jpg", size: "250x150") %>
        </div>
        <h3>Attend a Concert</h3>
        <hr />
        <p>
          You will be able to check into a concert and make plans
          with other people who are also attending that concert.
        </p>
      </div>

      <div class="col-md-4 text-center">
        <div class="main-img">
          <%= image_tag("coachella-tent.jpg", size: "350x175") %>
        </div>
      </div>

      <div class="col-md-4 text-center" style="padding-top: 10px;">
        <div class="img-set">
          <%= image_tag("SearchIcon.jpg", size: "200x150") %>
        </div>
        <h3>Search for Concerts</h3>
        <hr />
        <p>
          SetList allows for users to search for their favorite
          artists/bands to see when they are coming to a venue
          near them!
        </p>
      </div>
    </div>

  </div>
</section>
<!--END FEATURES SECTION-->
<section id="skill-sec">
  <div class="overlay">
    <div class="container">
      <div class="row ">
        <div class="col-lg-3 col-md-3 col-sm-3 text-center ">
          <i class="fa fa-bullseye fa-5x"></i>
          <h4>New Technology</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center ">
          <i class="fa fa-dollar fa-5x"></i>
          <h4>Special Offers</h4>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 text-center ">
          <i class="fa fa-comments-o fa-5x"></i>
          <h4>Dedicated Support  </h4>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 text-center">
          <i class="fa fa-user fa-5x"></i>
          <h4>Find Friends </h4>
        </div>

      </div>
    </div>
  </div>
</section>
<!--END SKILL SECTION-->
<section id="advance-sec">
  <div class="container">
    <div class="row text-center min-set">
      <div class="col-md-12">
        <h2><mark class="head-glow">Advanced </mark>Options </h2>
        <hr class="sub-hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("JonesBeachTheater.jpg", size: "250x150") %>
        </div>
        <h3>Promote Your Venue!</h3>
        <p>
          As an owner of a venue you will be able to promote
          events that your venue will be hosting.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("MapConcerts.jpg", size: "250x150") %>
        </div>
        <h3>Find Concerts Near You!</h3>
        <p>
          SetList will be able to find all the concerts that are
          near your location!
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="img-set">
            <%= image_tag("ConnectWithFriends.jpg", size: "250x150") %>
        </div>
        <h3>Connect with Friends!</h3>
        <p>
          You will be able to connect with your friends who
          also use SetList! You will be able to view what concerts
          they have attended and plan on attending!
        </p>
      </div>
    </div>
  </div>
</section>

<!--</body>-->
<!--</html>-->
