
<p id="notice"><%= notice %></p>
<!--END NAB BAR SECTION-->

<section id="features-sec">
  <div class="container">
    <div class="row text-center min-set">
      <div class="col-md-12">
        <h2><mark class="head-glow">Featured</mark> </h2>
        <hr class="sub-hr" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("LifeonMars.jpg", size: "250x150") %>
        </div>
        <h3>Life on Mars</h3>
        <hr />
        <p>
          May 26, Washington - $10.00
          Gypsy Sally's
        </p>
      </div>

      <div class="col-md-4 text-center">
        <div class="main-img">
          <%= image_tag("BigThief.jpg", size: "250x150") %>
        </div>
        <h3>Big Thief</h3>
        <hr />
        <p>
          June 6, Baltimore  - $10.00
          Ottobar
        </p>
      </div>

      <div class="col-md-4 text-center" style="padding-top: 10px;">
        <div class="img-set">
          <%= image_tag("Feist.jpg", size: "200x150") %>
        </div>
        <h3>Feist</h3>
        <hr />
        <p>
          June 7, Washington - $45.00
          The Lincoln Theatre
        </p>
      </div>
    </div>

  </div>
</section>
<!--END FEATURES SECTION-->
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("ElvisDepressedly.jpg", size: "250x150") %>
        </div>
        <h3>Elvis Depressedly</h3>
        <hr />
        <p>
          June 8, Baltimore - $14.00
          Metro Gallery
        </p>
      </div>

      <div class="col-md-4 text-center">
        <div class="main-img">
          <%= image_tag("AimeeMann.jpg", size: "250x150") %>
        </div>
        <h3>Aimee Mann</h3>
        <hr />
        <p>
          June 21, Annapolis  - $50.00
          Rams Head on Stage
        </p>
      </div>

      <div class="col-md-4 text-center" style="padding-top: 10px;">
        <div class="img-set">
          <%= image_tag("CHON.jpg", size: "200x150") %>
        </div>
        <h3>CHON - The Homey Tour</h3>
        <hr />
        <p>
          June 21, Baltimore - $21.00
          Baltimore Soundstage
        </p>
      </div>
    </div>

  </div>
</section>
<!--END SKILL SECTION-->
<section id="advance-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("AboveAndBeyond.PNG", size: "250x150") %>
        </div>
        <h3>Above and Beyond</h3>
        <p>
          June 23, Washington - $40.00
          Glow at Echostage
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("T-.jpg", size: "250x150") %>
        </div>
        <h3>T-Rextasy</h3>
        <p>
          July 5, Washington - $10.00
          Black Cat
        </p>
      </div>
      <div class="col-md-4 text-center">
        <div class="img-set">
          <%= image_tag("Mitski.jpg", size: "250x150") %>
        </div>
        <h3>Mitski</h3>
        <p>
          July 8, Washington - $20.00
          9:30 Club
        </p>
      </div>
    </div>
  </div>
</section>
