<!DOCTYPE html>
<html>
<head>
  <title>SetList</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= session[:logged_in] ? (render '/layouts/loggedInNav') : (render'/layouts/loggedOutNav') %>
<br/>
<br/>
<br/>


<%= yield %>


<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
<!-- CORE JQUERY  -->
<script src="assets/js/jquery-1.11.1.js"></script>
<!-- BOOTSTRAP SCRIPTS  -->
<script src="assets/js/bootstrap.js"></script>
<!-- PRETTYPHOTO SCRIPTS -->
<script src="assets/js/jquery.prettyPhoto.js"></script>
<!-- PORTFOLIO FILTER PLUGIN  -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- NICE SCROLL SCRIPTS   -->
<script src="assets/js/jquery.nicescroll.min.js"></script>
<!-- EASING SCROLL SCRIPTS   -->
<script src="assets/js/jquery.easing.min.js"></script>
<!-- CUSTOM SCRIPTS  -->
<script src="assets/js/custom.js"></script>


</body>
</html>
